/************************************** SYLE INDEX **************************************/
/****************************************************************************************/

.liensRapides img {
	width:35%;
}

.liensRapides a {
	display:block;
}

.derniersHeros hr {
    height: 1px;
    color: #aaa;
    background-color: #aaa;
    border: 0;
    margin: .2em 0;
}