h1 {
	margin-top:35px;
    margin-left:25px;
    font-size:40px;
}

h2, h3 {
	margin:35px 0;
	margin-left:35px;
	font-size:32px;
}

.arme, .armeMenu {border:1px solid grey;}

.tableauArmes {padding:50px;}

.armeMenu {background-color:#0B4E87;}

.armeMenu p {
	color:white;
	text-shadow:2px 2px 2px black;
	padding:11px;
	font-size:20px;
}

p, .arme a {
	margin:0;
}

.ligneP {
  display:flex;
}

.ligne {
  flex: 1;
  flex-basis: auto;
  padding:8px;
  font-size:20px;
}

.armeMenu {font-size:20px;}